<div class="page-container">

  <!-- Header row -->
  <div class="blog-header-row">
    <div>
      <span class="eyebrow">{{ 'blog.eyebrow' | t }}</span>
      <h2 style="margin:0;">{{ 'blog.title' | t }}</h2>
    </div>
    <a routerLink="/blog" class="btn btn-outline btn-sm">{{ 'blog.browse' | t }}</a>
  </div>

  <!-- Blog grid -->
  <div class="blog-grid">
    <article *ngFor="let post of posts; trackBy: trackBySlug" class="blog-card">
      <div class="blog-thumb">
        <a [routerLink]="['/blog', post.slug]">
          <img [src]="post.imageUrl" [srcset]="post.imageSrcset" [alt]="postTitleKey(post.id) | t" loading="lazy" />
        </a>
      </div>
      <div class="blog-body">
        <div class="blog-meta">
          <time [attr.datetime]="post.dateIso">{{ postDateKey(post.id) | t }}</time>
          <a [routerLink]="post.categoryPath">{{ postCategoryKey(post.id) | t }}</a>
        </div>
        <h5 class="blog-post-title">
          <a [routerLink]="['/blog', post.id]">{{ postTitleKey(post.id) | t }}</a>
        </h5>
        <p class="blog-excerpt">{{ postExcerptKey(post.id) | t }}</p>
        <a [routerLink]="['/blog', post.id]" class="blog-read-more">
          {{ 'blog.readMore' | t }} <i class="fa-solid fa-arrow-left"></i>
        </a>
      </div>
    </article>
  </div>

</div>
